{% extends 'blog/base.html' %}

                    {% block content %}
                    <section>
                    	<img class="me" src="/static/img/sukyeong.jpg" width="240" height="240" alt="수경">
                    	<div class="about">
                    		<h3>Welcome</h3>
                    		<p>
                    			평론가, 큐레이터로 일하고싶습니다.
                    			롤은 제가 가장 좋아하는 게임입니다.
                    		</p>

                    		<h3>주 포지션</h3>
                    		<p>
                    			서폿,
                    			건강한 성장을 추구합니다
                    			개성을 살려주고 슈퍼세이브가 제일 짜릿함
                    		</p>

                    		<h3>롤모델</h3>
                    		<p>
                    			예수님
                    			까꿍이
                    			이불
                    		</p>

                    		<h3>싫어하는거</h3>
                    		<p>
                    			거절의 자유 침해받는것
                    			강요하는것
                    			압박하고 부담주는것
                    			완벽하지 못한 결과에 대해 원망하는것
                    		</p>

                    	</div>
                    </section>
                    {% endblock %}