{% extends 'blog/base.html' %}

                    {% block content %}
                    <h1>tool</h1>
                    <section class ="champion-list">
                         <!--graph-->
                         <div id="container" >
                              <canvas id="myChart" width="400" height="400"></canvas>
                         </div>
                         <script>
                         var DATA_COUNT = 142;
                         var ctx = document.getElementById("myChart");
                         var bubbleChartData = {
                              datasets: [
                              {
                                   label: ["Aatrox"],
                                   backgroundColor: "rgba(255,221,50,0.2)",
                                   borderColor: "rgba(255,221,50,1)",
                                   data: [{
                                     x: 8-3,
                                     y: 4,
                                     r: 15
                                   }]
                              },
                              {
                                   label: ["Ahri"],
                                   backgroundColor: "rgba(60,186,159,0.2)",
                                   borderColor: "rgba(60,186,159,1)",
                                   data: [{
                                     x: 3-8,
                                     y: 4,
                                     r: 10
                                   }]
                              }, 
                              {
                                   label: ["Akali"],
                                   backgroundColor: "rgba(0,0,0,0.2)",
                                   borderColor: "#000",
                                   data: [{
                                     x: 5-8,
                                     y: 3,
                                     r: 15
                                   }]
                              }, 
                              {
                                   label: ["Alistar"],
                                   backgroundColor: "rgba(193,46,12,0.2)",
                                   borderColor: "rgba(193,46,12,1)",
                                   data: [{
                                     x: 6-5,
                                     y: 9,
                                     r: 15
                                   }]
                              }]
                         }

                         var options ={
                              title: {
                                   display: true,
                                   text: '챔피언 분포'
                              }, 
                              scales: {
                                   yAxes: [{ 
                                        ticks: {
                                             suggestedMin: 0,
                                             suggestedMax: 10,
                                             stepSize: 1,
                                             beginAtZero: true
                                        },
                                        scaleLabel: {
                                             display: true,
                                             labelString: "방어"
                                        }
                                   }],
                                   xAxes: [{ 
                                        ticks: {   
                                             suggestedMin: -9,
                                             suggestedMax:9,
                                             stepSize: 1,
                                             beginAtZero: true
                                        },
                                        scaleLabel: {
                                             display: true,
                                             labelString: "딜 (AP,AD)"
                                        }
                                   }]
                              },
                              responsive: true,
                              legend: {
                                   display: true,
                                   position: 'bottom',
                                   labels: {
                                        boxWidth: 80,
                                        fontColor: 'black'
                                  }
                              }
                         }


                         var myBubbleChart = new Chart(ctx,{
                              type: 'bubble',
                              data: bubbleChartData,
                              options: options
                         });

                         // window.onload = function addDataset(){
                         //      // alert('확인!');

                         //           myBubbleChart.data.datasets.push({
                         //                data: generateData()
                         //           });

                         //      myBubbleChart.update();
                         //      console.log(bubbleChartData.datasets)
                         // }

                         // function generateData(){
                         //      var data = [];
                         //      var i;

                         //      for (i = 0; i < DATA_COUNT; ++i) {
                         //           data.push({
                         //                x: Math.floor((Math.random() * 8) + 1),
                         //                y: Math.floor((Math.random() * 8) + 1),
                         //                r: Math.floor((Math.random() * 8) + 1),
                                        
                         //           });
                         //      }

                         //      return data;
                         // }


                         window.onload = function addDataset(){
                              // alert('확인!');
                              generateData()
                              

                              console.log(bubbleChartData.datasets)
                         }

                         function generateData(){
                              var i;

                              {% for champion in champions %}
                                   myBubbleChart.data.datasets.push({
                                        label: ["{{champion.name}}"],
                                        // backgroundColor: "rgba(0,0,0,0.2)",
                                        // borderColor: "#000",
                                        data: [{
                                             x: {{champion.attack}}-{{champion.magic}},
                                             y: {{champion.defense}},
                                             r: ({{champion.attack}}+{{champion.magic}})*1,
                                        }]
                                   });
                              {% endfor %}

                              myBubbleChart.update();
                         }

                         </script>
                         <!-- graph end-->



                         <!-- 검색 -->
                         <form method="POST" class="search-form">{% csrf_token %}
                              {{ form.as_p}}
                              <button type="submit">search</button>
                         </form>

                         <h3>검색결과:</h3>

                         {% for champion in search_result %}
                         <div>
                              <div class="champion-img"><img src="http://ddragon.leagueoflegends.com/cdn/img/champion/loading/{{champion.id}}_0.jpg"></div>
                              <div class="champion-info">
                                   <span class="champion-name">{{champion.name}}</span>
                                   <ul>
                                        <li>
                                             <div>방어: {{champion.defense}}/10 </div>
                                             <div class="stat-boxes">
                                                  {% load blog_filters %}
                                                  {% for i in champion.defense|times %}
                                                  <div class="foo blue"></div>
                                                  {% endfor %}
                                             </div>
                                        </li>
                                        <li>
                                             <div>공격: {{champion.attack}}/10</div>
                                             <div class="stat-boxes">
                                                  {% for i in champion.attack|times %}
                                                       <div class="foo wine"></div>
                                                  {% endfor %}
                                                  </div>
                                             </li>     
                                        <li>
                                             <div>마법: {{champion.magic}}/10</div>
                                             <div class="stat-boxes">
                                                  {% for i in champion.magic|times %}
                                                       <div class="foo purple"></div>
                                                  {% endfor %}
                                                  </div>
                                             </li>
                                        <li>
                                             <div>난이도: {{champion.difficulty}}/10</div>
                                             <div class="stat-boxes">
                                                  {% for i in champion.difficulty|times %}
                                                  <div class="foo yellow"></div>
                                                  {% endfor %}
                                             </div>
                                        </li>
                                   </ul>
                              </div>
                         </div>
                         {% endfor %}      

                         <hr>                     

                         <h3> 전체 리스트 </h3>
                         <!-- champion 전체 리스트-->
                         {% for champion in champions %}
                         <div>
                              <div class="champion-img"><img src="http://ddragon.leagueoflegends.com/cdn/img/champion/loading/{{champion.id}}_0.jpg"></div>
                              <div class="champion-info">
                                   <span class="champion-name">{{champion.name}}</span>
                                   <ul>
                                        <li>
                                             <div>방어: {{champion.defense}}/10 </div>
                                             <div class="stat-boxes">
                                                  {% load blog_filters %}
                                                  {% for i in champion.defense|times %}
                                                  <div class="foo blue"></div>
                                                  {% endfor %}
                                             </div>
                                        </li>
                                        <li>
                                             <div>공격: {{champion.attack}}/10</div>
                                             <div class="stat-boxes">
                                                  {% for i in champion.attack|times %}
                                                       <div class="foo wine"></div>
                                                  {% endfor %}
                                                  </div>
                                             </li>     
                                        <li>
                                             <div>마법: {{champion.magic}}/10</div>
                                             <div class="stat-boxes">
                                                  {% for i in champion.magic|times %}
                                                       <div class="foo purple"></div>
                                                  {% endfor %}
                                                  </div>
                                             </li>
                                        <li>
                                             <div>난이도: {{champion.difficulty}}/10</div>
                                             <div class="stat-boxes">
                                                  {% for i in champion.difficulty|times %}
                                                  <div class="foo yellow"></div>
                                                  {% endfor %}
                                             </div>
                                        </li>
                                   </ul>
                              </div>
                         </div>
                         {% endfor %}     

                                            
                    </section>
                    {% endblock %}