{% extends 'blog/base.html' %}

                    {% block content %}
                    <h1>tool</h1>
                    <section class ="champion-list">
                         <!--graph-->
                         <div id="container" >
                              <canvas id="bubblespace" width="400" height="400"></canvas>
                         </div>
                         <script>
                         var DATA_COUNT = 142;
                         var bubbleCanvas = document.getElementById("bubblespace");
                         var bubbleChartData = {
                              datasets: [

                              {% for champion in champions %}
                                   {
                                        label: ["{{champion.name}}"],
                                        // backgroundColor: "rgba(0,0,0,0.2)",
                                        // borderColor: "#000",
                                        data: [{
                                             x: {{champion.attack}}-{{champion.magic}},
                                             y: {{champion.defense}},
                                             r: ({{champion.attack}}+{{champion.magic}})*1,
                                        }]
                                   },
                              {% endfor %}
                              ]
                         }

                         var options ={
                              tooltips: {
                                   mode: "point",
                                   intersect: false,
                              },
                              title: {
                                   display: true,
                                   text: '챔피언 분포'
                              }, 
                              scales: {
                                   yAxes: [{ 
                                        ticks: {
                                             suggestedMin: 0,
                                             suggestedMax: 10,
                                             stepSize: 1,
                                             beginAtZero: true
                                        },
                                        scaleLabel: {
                                             display: true,
                                             labelString: "방어"
                                        }
                                   }],
                                   xAxes: [{ 
                                        ticks: {   
                                             suggestedMin: -9,
                                             suggestedMax:9,
                                             stepSize: 1,
                                             beginAtZero: true
                                        },
                                        scaleLabel: {
                                             display: true,
                                             labelString: "딜 (AP,AD)"
                                        }
                                   }]
                              },
                              responsive: true,
                              legend: {
                                   display: true,
                                   position: 'bottom',
                                   labels: {
                                        boxWidth: 80,
                                        fontColor: 'black'
                                  }
                              }
                         }


                         var bubbleChart = new Chart(bubbleCanvas,{
                              type: 'bubble',
                              data: bubbleChartData,
                              options: options
                         });




                         //clicking bubble event : https://jsfiddle.net/xpghnytp/1/  
 /*                        bubblespace.onclick = function(evt) {

                              //getting x,y position of clicking area.
                              // var helpers = Chart.helpers;
                              // var eventPosition = helpers.getRelativePosition(evt, bubbleChart.chart);
                              // var mouseX = eventPosition.x;
                              // var mouseY = eventPosition.y;
                              // console.log(mouseX+','+mouseY);

                              
                              var activePoints = bubbleChart.getElementAtEvent(evt);
                              var firstPoint = activePoints[0];

                              if (firstPoint) {
                                   var chartData = firstPoint['_chart'].config.data;
                                   var idx = firstPoint['_datasetIndex'];

                                   var label = chartData.datasets[idx].label;
                                   // var value = chartData.datasets[idx].data[0];



                                   //position of bubble
                                   var position_x = firstPoint['_model'].x;
                                   var position_y = firstPoint['_model'].y;

                                   // location.href="#search_result";
                                   //console.log('firstPoint:',firstPoint);
                                   //console.log('activePoints:',activePoints);
                                   // console.log('how many activePoints?',activePoints.length);
                                   //console.log('evt shape?',evt);

                                   // var url = "http://example.com/?label=" + label + "&value=" + value.r;
                                   var url = "("+position_x+","+position_y+")"+label;
                                   console.log(url);
                                   // alert(url);
                              }
                              
                         };
*/
                         bubblespace.onclick = function(e) {
                              var helpers = Chart.helpers;
                              var eventPosition = helpers.getRelativePosition(e, bubbleChart.chart);
                              var elementsArray = [];

                              helpers.each(bubbleChart.data.datasets, function(dataset, datasetIndex) {
                               if (bubbleChart.isDatasetVisible(datasetIndex)) {
                                   var meta = bubbleChart.getDatasetMeta(datasetIndex);
                                   helpers.each(meta.data, function(element) {
                                       if (element.inRange(eventPosition.x, eventPosition.y)) {
                                           elementsArray.push(element);
                                           return elementsArray;
                                       }
                                   });
                               }
                              });
                              // console.log(bubbleChart.data.datasets);
                              // elementsArray[0]['_datasetIndex'];

                              if(elementsArray.length>0){
                                   var str = ''
                                   var chartData = bubbleChart.data.datasets;
                                   for(var i=0; i<elementsArray.length; i++){
                                        idx = elementsArray[i]['_datasetIndex']
                                        str =str+ idx;
                                        if(i != elementsArray.length-1)
                                        {
                                             str = str +",";
                                        }
                                        // str =str+ chartData[idx].label+",";
                                        console.log(str);
                                   }
                                   // document.getElementById("search_result").innerHTML = str;
                                   // location.href="#search_result";

                                   // console.log(elementsArray)
                                   document.getElementById("id_indices").value = str;
                                   // alert(document.getElementById("id_indices").value);
                                   var myform = document.getElementById("#form");
                                   myform.submit();

                              }
                              // return elementsArray;
                           }


/*
                         var points = bubbleChart.getDatasetMeta(0).data;
                         var x = points[0]._model.x;
                         var y = points[0]._model.y;
                         console.log('this is about points:')
                         console.log(points);
                         console.log('x:'+x+',y:'+y)
*/

                         </script>
                         <!-- graph end-->



                         <!-- 검색 -->
                         <form method="POST" class="search-form" id="#form">{% csrf_token %}
                              {{ form.as_p}}
                              <button type="submit">search</button>
                         </form>

                         <h3>검색결과:</h3>

                         {% for champion in search_result %}
                         <script>
                              location.href="#search_result";
                         </script>

                         <div id="search_result">
                         
                              <div class="champion-img"><img src="http://ddragon.leagueoflegends.com/cdn/img/champion/loading/{{champion.id}}_0.jpg"></div>
                              <div class="champion-info">
                                   <span class="champion-name">{{champion.name}}</span>
                                   <ul>
                                        <li>
                                             <div>방어: {{champion.defense}}/10 </div>
                                             <div class="stat-boxes">
                                                  {% load blog_filters %}
                                                  {% for i in champion.defense|times %}
                                                  <div class="foo blue"></div>
                                                  {% endfor %}
                                             </div>
                                        </li>
                                        <li>
                                             <div>공격: {{champion.attack}}/10</div>
                                             <div class="stat-boxes">
                                                  {% for i in champion.attack|times %}
                                                       <div class="foo wine"></div>
                                                  {% endfor %}
                                                  </div>
                                             </li>     
                                        <li>
                                             <div>마법: {{champion.magic}}/10</div>
                                             <div class="stat-boxes">
                                                  {% for i in champion.magic|times %}
                                                       <div class="foo purple"></div>
                                                  {% endfor %}
                                                  </div>
                                             </li>
                                        <li>
                                             <div>난이도: {{champion.difficulty}}/10</div>
                                             <div class="stat-boxes">
                                                  {% for i in champion.difficulty|times %}
                                                  <div class="foo yellow"></div>
                                                  {% endfor %}
                                             </div>
                                        </li>
                                   </ul>
                              </div> 
                         </div>   
                         
                         {% endfor %}  

                         <hr>                     

                         <h3> 전체 리스트 </h3>
                         <!-- champion 전체 리스트-->
                         {% for champion in champions %}
                         <div>
                              <div class="champion-img"><img src="http://ddragon.leagueoflegends.com/cdn/img/champion/loading/{{champion.id}}_0.jpg"></div>
                              <div class="champion-info">
                                   <span class="champion-name">{{champion.name}}</span>
                                   <ul>
                                        <li>
                                             <div>방어: {{champion.defense}}/10 </div>
                                             <div class="stat-boxes">
                                                  {% load blog_filters %}
                                                  {% for i in champion.defense|times %}
                                                  <div class="foo blue"></div>
                                                  {% endfor %}
                                             </div>
                                        </li>
                                        <li>
                                             <div>공격: {{champion.attack}}/10</div>
                                             <div class="stat-boxes">
                                                  {% for i in champion.attack|times %}
                                                       <div class="foo wine"></div>
                                                  {% endfor %}
                                                  </div>
                                             </li>     
                                        <li>
                                             <div>마법: {{champion.magic}}/10</div>
                                             <div class="stat-boxes">
                                                  {% for i in champion.magic|times %}
                                                       <div class="foo purple"></div>
                                                  {% endfor %}
                                                  </div>
                                             </li>
                                        <li>
                                             <div>난이도: {{champion.difficulty}}/10</div>
                                             <div class="stat-boxes">
                                                  {% for i in champion.difficulty|times %}
                                                  <div class="foo yellow"></div>
                                                  {% endfor %}
                                             </div>
                                        </li>
                                   </ul>
                              </div>
                         </div>
                         {% endfor %}     

                                            
                    </section>
                    {% endblock %}